
<p style="color: green"><%= notice %></p>
  <h1 class="mb-4">Accueil</h1>
  <div class="tweets" id="tweets">
    <% @tweets.each do |tweet| %>
    <a href="<%= tweet_path(tweet) %>">
      <div class="tweet-content">
        <%= render tweet %>
      </div>
    </a>
    <% end %>
  </div>

  <%# <%= link_to "Tweeter", new_tweet_path, class: "btn btn-primary rounded-pill bouton" %>
