
<p style="color: green"><%= notice %></p>
  <h1 class="mb-4">Accueil</h1>
  <div class="tweets" id="tweets">
    <% @tweets.each do |tweet| %>
    <div class="tweet-content">
      <%= render tweet %>
      <p>
        <%= link_to "Afficher ce tweet", tweet, class: "btn btn-secondary btn-sm" %>
      </p>
    </div>
    <% end %>
  </div>

  <%= link_to "Tweeter", new_tweet_path, class: "btn btn-primary rounded-pill" %>
